*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    display:block;
}
#lun{
    width:790px;
    height:340px;
    margin:0 auto;
    margin-top:50px;
    position:relative;
}
#lun>ul>li{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition:opacity .6s linear;
}
#lun>ul>.active{
    opacity:1;
}
/*轮播图圆点*/
#list-circle{
    width:200px;
    height:20px;
    background:rgba(255,255,255,0.6);
    position:absolute;
    bottom:30px;
    left:50%;
    margin-left:-100px;
    border-radius:20px;
}
#list-circle>ul>li{
    float:left;
    width:12px;
    height:12px;
    background:#fff;
    margin-left:11px;
    border-radius:50%;
    margin-top:4px;
}
#list-circle>ul>.list-active{
    background:#f00;
}
/*轮播图左右箭头*/
#left,#right{
    width:30px;
    height:60px;
    position:absolute;
    top:50%;
    margin-top:-30px;
    background:rgba(0,0,0,0.3);
    line-height:60px;
    text-align:center;
    color:#fff;
    font-size:20px;
    -webkit-user-select:none;
    cursor:pointer;
    display:none;
}
#right{
    right:0;
}
#left:hover,#right:hover{
    background:rgba(0,0,0,0.6);
}

