<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>

    <!-- Meta -->
    <title>Propulso</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffa000">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="images/favicon2.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/css/cdb7b0a4ed437ad15fa0a665ea5021741b3dced6/lib/bootstrap/toolkit-light.min.css">
    <!-- Module CSS -->
    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/bundles/07c82100c28a8ce65e1d6f22a9e174847526d5fb.css">








    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/css/4c9026e4fde45c1bfe34aeb2d6208b7de9f5e9cb/assets/css/app.css">

</head>
<body>

<div class="with-iconav">
    <!-- App Menu -->
    <!--<menu>&lt;!&ndash; Menu mobile &ndash;&gt;
        <nav class="navbar navbar-default navbar-fixed-top hidden visible-xs hidden-print">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">
                        <img src="https://d33wubrfki0l68.cloudfront.net/9b6d1a9e9ed6679dc0b61fc374bacae58fea2bea/cdf91/assets/img/name.png" height="25">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="mobile-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#!/dashboard" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Dashboard</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!/clients" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Clients</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!/sales/quotes" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Quotes</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!/sales" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Invoices</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!/sales/articles" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Items</div>
                                </div>
                            </a>
                        </li>
                        &lt;!&ndash;
                        <li>
                            <a href="#!/expenses" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-usd" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate>Dépenses</div>
                                </div>
                            </a>
                        </li>
                        &ndash;&gt;
                        <li>
                            <a href="#!/events" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Appointments</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!/settings" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-cog" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Settings</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!/support" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Need help?</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!/logout" data-toggle="collapse" data-target="#mobile-menu">
                                <div class="row">
                                    <div class="col-xs-2 text-right"><i class="fa fa-unlock" aria-hidden="true"></i></div>
                                    <div class="col-xs-10" translate="">Logout</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        &lt;!&ndash; Menu desktop &ndash;&gt;
        &lt;!&ndash;<nav class="iconav hidden-xs hidden-print">
            <a class="iconav-brand" title="Propulso" data-toggle="tooltip" data-placement="right" data-container="body">
                <img src="https://d33wubrfki0l68.cloudfront.net/8aed63e1b8e0e51ae2f7fa499f03f189979cdbd2/9971d/assets/img/logo.png" width="40">
            </a>
            <div class="iconav-slider">
                <ul class="nav nav-pills iconav-nav">
                    <li>
                        <a href="#!/dashboard" title="Dashboard" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Tableau de bord</small>
                        </a>
                    </li>
                    <li>
                        <a href="#!/clients" title="Clients" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Clients</small>
                        </a>
                    </li>
                    <li>
                        <a href="#!/sales/quotes" title="Quotes" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Soumissions</small>
                        </a>
                    </li>
                    <li>
                        <a href="#!/sales" title="Invoices" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Factures</small>
                        </a>
                    </li>
                    <li>
                        <a href="#!/sales/articles" title="Items" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Articles</small>
                        </a>
                    </li>
                    &lt;!&ndash;
                    <li >
                        <a href="#!/expenses" title="{{'Dépenses' | translate}}" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Dépenses</small>
                        </a>
                    </li>
                    &ndash;&gt;
                    <li>
                        <a href="#!/events" title="Appointments" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Rendez-vous</small>
                        </a>
                    </li>
                    <li>
                        <a href="#!/settings" title="Settings" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Paramètres</small>
                        </a>
                    </li>
                    <li>
                        <a href="#!/support" title="Need help?" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Besoin d'aide?</small>
                        </a>
                    </li>
                    <li>
                        <a href="#!/logout" title="Logout" data-toggle="tooltip" data-placement="right" data-container="body">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                            <small class="iconav-nav-label visible-xs-block">Déconnexion</small>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>&ndash;&gt;
    </menu>-->
    <!-- Main view for routes -->
    <!-- ngView: --><div class="container ng-scope" ng-view=""><div class="login ng-scope" id="particles-js">
    <div class="login-container">
        <!--<img src="images/logo.png" class="login-logo">-->
        <img src="images/logo.png" class="login-logo">
        <!--<div class="label ng-binding">v.1.6.2</div>-->
        <div class="login-form" ng-class="{'bouce': error}">
            <loading><!-- ngIf: loading -->
            </loading>
            <!-- Login form -->
            <!-- ngIf: !loading --><div ng-if="!loading" class="ng-scope">
            <!-- ngIf: mode == 'login' --><div ng-if="mode == 'login'" class="ng-scope">
            <div class="input-with-icon wfull">
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="邮箱" ng-model="credentials.email" ng-keypress="pressEnter($event)">
                <i class="fa fa-user"></i>
            </div>
            <div class="input-with-icon wfull login-password">
                <input type="password" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="密码" ng-model="credentials.password" ng-keypress="pressEnter($event)">
                <i class="fa fa-lock"></i>
            </div>
            <div class="login-forgot">
                <!--<a class="pointer" ng-click="changeMode('reset')" translate="">Forgot password?</a>-->
            </div>
            <button class="btn btn-lg btn-pill btn-primary-outline wfull login-button"  >
                <i class="fa fa-rocket"></i>
                <!--<translate>登录</translate>-->
                <span onclick="onCli()">登录</span>

                <!--<a href="http://localhost:63342/web-qianduan/JavaScript-item/js%E6%A8%A1%E4%BB%BF%E7%BB%83%E4%B9%A0/WebPages_fuben/index.html?_ijt=hjsji8fsalbekih6antb4f8dli#">登陆</a>-->
            </button>
        </div><!-- end ngIf: mode == 'login' -->
            <!-- Reset password -->
            <!-- ngIf: mode == 'reset' -->
            <!-- Time to pay -->
            <!-- ngIf: mode == 'addPayment' -->
        </div><!-- end ngIf: !loading -->
        </div>
        <div class="facebook">
            <div id="fb-root"></div>
            <div class="fb-like" data-href="https://www.facebook.com/Propulso-130471410821151/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
            <!--<p translate="">Follow us on Facebook!</p>-->
        </div>
    </div>
    <canvas class="particles-js-canvas-el" width="613" height="782" style="width: 100%; height: 100%;"></canvas></div>
</div>
</div>

<!-- Bootstrap JS -->
<script async="" src="//www.google-analytics.com/analytics.js"></script><script id="facebook-jssdk" src="//connect.facebook.net/fr_CA/sdk.js#xfbml=1&amp;version=v2.8&amp;appId=1648023168802422"></script><script src="https://d33wubrfki0l68.cloudfront.net/bundles/72fd542a6521068eb871eadac34f09e8ede77697.js"></script>
<!-- Assets -->
<script src="https://d33wubrfki0l68.cloudfront.net/js/7df4e2346af555b339e94477fdecb1a08b08dce6/src/assets/js/app.js"></script>
<!-- Angular JS -->
<script src="https://d33wubrfki0l68.cloudfront.net/bundles/96631322895f69184aa8c67a2c9503d922fb391b.js"></script>
<!-- Directives -->
<script src="https://d33wubrfki0l68.cloudfront.net/js/a6f9c2a09eabd886b1da780dbb1c092f44b879e8/src/directives/directives.js"></script>
<!-- Controllers -->
<script src="https://d33wubrfki0l68.cloudfront.net/bundles/bbfe11272edc747e441c71e1a00d1fedf7318b34.js"></script>
<!-- Factories -->
<script src="https://d33wubrfki0l68.cloudfront.net/bundles/c5098072268abea5fc044600319f9d1eace369f8.js"></script>

<script>
    function onCli() {
        /*window.location.href = "index.html";*/
        setTimeout("javascript:location.href='index.html'", 1);
    }
</script>

</body>
</html>